.page-banner {
  margin: 0 2.5rem 3rem;
  padding: 5rem 2rem;
  /* background: linear-gradient(
    135deg,
    hsl(var(--background)) 0%,
    hsl(270 91% 20% / 0.4) 50%,
    hsl(var(--background)) 100%
  );
  border: 1px solid hsl(var(--border));
  border-radius: 1rem; */
  text-align: center;
      border-top: 2px solid transparent;
    border-radius: 30px;
    background: linear-gradient(#00000096, #151414) padding-box, linear-gradient(93deg, rgb(0, 0, 0), rgba(98, 41, 210, 0.8), rgb(0, 0, 0)) border-box;

}

.page-banner-title {
  font-size: 48px;
  font-weight: 600;
  color: hsl(var(--foreground));
  margin-bottom: 1rem;
  font-family: "Overlock", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.page-banner-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.page-banner-breadcrumb-item {
  color: hsl(var(--muted-foreground));
}

.page-banner-breadcrumb-separator {
  color: hsl(var(--muted-foreground));
}

.page-banner-breadcrumb-active {
  color: hsl(var(--primary));
}
